@use '../custom' as *; //Importamos el _custom.scss

.btn-header {
    //background, border, color texto, hover:background, border, color texto
    @include button-variant($primary, transparent, $secondary, darken($primary, 10%), transparent, darken($secondary, 10%));
    //padding-y, padding-x, font-size, border-radius
    @include button-size(1rem, 5rem, 2rem, 0);

    font-weight: 700;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 2rem;
    
    @include media-breakpoint-up(md) {
        display: inline-block;
    }
}

.boton-plan {
    @extend .btn-header; //Heredamos las caracteristicas de .btn-header
    border: 1px solid $white;

    @include media-breakpoint-up(md) {
        display: block;
    }
}